@{
    ViewBag.Title = "About Us";
}
<style type="text/css">
    .content-md p
    {
        font-size: 15px;
        color: #9fa1ad;
    }
</style>

<div class="column-right">
        <div class="contents-sd">
            <h1 class="orng">
                About Us</h1>
                <br />
            <p>
                There are literally thousands of books being uploaded everyday and its hard to get
                the attention that you deserve. 
                In this fast moving digital world it may be easier
                than ever to get published, but how will you keep your story from getting lost in
                <strong>pile</strong>. 
            </p>
            <p> 
                Cocaine Books was started by an <b>author</b> who understands the struggle of getting
                exposure for your work in such a crowded market.
            </p> 
            <p>  Do you write Urban Fiction,Street
                Fiction or books about street culture? If so Cocaine Fiction is digital platform
                created just for you.
            </p>
            <p>
            <li>Gain exposure to our thousands of readers</li>
            <li>Get introduced to new markets.</li>
            </p>
        </div>
        <br />
        <div class="contents-sd">
            <h1>
                How it works?</h1>
            <br />
           <p> The formula is simple. Send us sample story or any content
                or book, along cover and our base of Street Lit fans will get a chance to read it
                for free. Why Free? While we don’t advocate for all books to be free, good exposure
                is often more valuable when you’re making a name for yourself.
                </p>
            <p>  That’s why we believe
                Cocaine Books isn’t about giving readers your stories away for free. Rather it’s
                about opening a way for people who’ve never read your stories to become fans who’ll
                buy your next great titles. Our digital platform will encourage conversations that
                lead to relationships between you and your readers: feedback, critique, Q&A - the
                possibilities are wide open! 
                </p>
                <p>Cocaine Books is not here to <b>sell</b> your books. We’re
                here to help sell you to your next <b>fans</b>.
            </p>
        </div>
</div>
<div class="clear">
</div>
