@{
    ViewBag.Title = "Reset";
}

<div class="signup">
    <div ng-controller="ResetController">
        <h1 class="orng">
            Reset Password</h1>
        <div class="content-md">
            <ul>
                <li><a href="#" class="selected">
                    New Password</a></li>
            </ul>
            <div class="contents-sd">
                <fieldset>
                    <div>
                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><h2>{{alert.type | uppercase}}</h2><div class="alert-msg" ng-repeat="msg in alert.msgs">{{msg}}</div></alert>
                    </div>
                    <dl>
                        <dt>
                            <label>
                                New Password:</label></dt>
                        <dd>
                            <input type="password" name="password" ng-model="account.password" /></dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                Confirm Password:</label></dt>
                        <dd>
                            <input type="password" name="confirmPassword" ng-model="account.confirmPassword" /></dd>
                    </dl>
                </fieldset>
                <input type="button" name="reset" value="Update Password" class="green-button br sp-m" ng-click="reset()" />
            </div>
        </div>
    </div>
</div>
<div class="clear">
</div>

@section Scripts{
<script src="/Scripts/Views/Account/reset.js" type="text/javascript"></script>
}