<form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank"
    method="post">
    <div class="newsletter">
    Signup for Newsletter:
    <input type="text" name="ea" style="margin:0px" />
    <button class="green-button submit" name="submit" style="margin: -1px">&rarr;</button>
    <input type="hidden" name="llr" value="uml5kmeab" />
    <input type="hidden" name="m" value="1104220728724" />
    <input type="hidden" name="p" value="oi" />
    </div>
</form>
