@{
    ViewBag.Title = "Privacy";
}
<style type="text/css">
    .content-md p
    {
        font-size: 15px;
        color: #9fa1ad;
    }
</style>


<div class="column-right">
    <div class="contents-sd">
        <h1 class="orng">
            Privacy Policy for Cocaine Books</h1>
        <br />
        <p>
            <strong>Privacy Policy for Cocaine Books</strong><br /> This privacy policy has been drafted to inform
            users, visitors and customers of Cocaine Books about how we gather, handle and protect
            their information. We advise you to read this policy to understand the full extent
            to which we strive to uphold the integrity of your information. Upon registering
            an account with CocaineBooks.com, you are expressly signifying your acceptance of
            the conditions in our privacy policy. In addition, all content shared publicly on
            CocaineBooks.com is no longer considered personal information and is therefore available
            for all users to share. 
         </p>
         
         <p> 
             <strong>Collected Information</strong><br /> Every user that registers an account
            with CocaineBooks.com will be required to enter basic personal information, including
            first name, last name, email address and password. This is the minimum required
            information that we need before we can create an account for you. During your use
            of Cocaine Books, our servers will automatically record information transmitted
            from your web browser, much like any other website. This information will primarily
            be of a technical nature, with everything compiled into server logs. These logs
            will contain standard information such as your internet protocol (IP) address, your
            language, what browser you have, time spent at our site, time and date settings,
            and much more. Cookies are another way in which we collect information, but this
            is for the purpose of remembering preferred settings and enhancing your overall
            experience. We create cookies by sending small text files to your web browser to
            save your preferred settings for future visits to CocaineBooks.com. In the event
            that you wish to reject cookies, you can do so by altering the settings of your
            browser. However, your future settings will not be remembered when you return to
            our site. Cocaine Books can take no responsibility for how you to choose to manage
            your cookies. </p>
         
         <p> 
            <strong>Use of Your Information</strong><br /> Your basic information (first name, last name,
            email address and password) will be used to facilitate on-going access to your account
            with CocaineBooks.com. This is the same for both authors and standard users. Outside
            of your account details, any personal information that you disclose voluntarily
            on our free eBooks site will be available to all other users. This covers information
            shared via comments and also in our wider online community, including all social
            media pages. Additionally, once authors share their eBooks on our site, this information
            is also considered publicly available. At no point will we ever sell your basic
            account information to third parties for marketing purposes. In addition, we will
            not use your contact information to send you marketing requests for unrelated products
            and/or services. However, we will contact you with information specifically relating
            to Cocaine Books. Please inform us directly if you do not wish to be contacted.
            In regard to your usage data, we depend on this information to analyze the performance
            of our site and make subsequent upgrades and improvements. This information is primarily
            unidentifiable on a personal basis.
            <br />
             Cookies can be used to store login information to help remember your account details,
             and therefore makes your experience more efficient. In addition, we also use cookies
             to analyze interaction levels throughout our site, relating to eBook downloads,
             submissions, logins and emails signups, along with other purposes.
        </p>
        <p>
            <strong>Protecting Your Information</strong><br /> The first level of protection is the password that you
            enter when creating your account. This is to ensure that unpermitted individuals
            cannot access your account. We advise that you do not share your login details with
            anyone else, and that at no point should you ever share them publicly on CocaineBooks.com.
            In the event that you suspect your account has been hacked or accessed by another
            individual, please inform us immediately so that we can resolve the situation. When
            storing your information on our servers, we protect our databases with standard
            internet encryption methods. Furthermore, we have physical policies in place to
            ensure that no harm comes to your information when it is stored on our company hard
            drives. We take every reasonable measure to ensure that your information is protected.
            However, no website can guarantee 100 percent protection for personal information.
            Should our servers be breached, we can take no responsibility for information falling
            into the wrong hands. That being said, we will meet our legal responsibilities by
            informing you of any breaches.</p> 
         
         <p>
            <strong>Sharing Your Information</strong><br /> We can promise that we will
            not share your personal information with other users of Cocaine Books or with third
            parties for commercial purposes. However, we do reserve the right to share usage
            data with external contractors and consultants for the purpose of improving CocaineBooks.com.
            When we do share your information with external contractors, we will hold them to
            the strict standards outlined in this privacy policy. Cocaine Books may also share
            your information in the event that we are required to do so by law (for example:
            US and copyright law) – this will primarily be in the form of compliance with legal
            investigations. We can promise that we will not release the information until we
            receive the necessary legal documents, be they court orders, search warrants or
            subpoenas.</p>
            
         <p>
            <strong>Data Retention</strong><br /> We will retain your personal information for the duration
            in which you hold an account with CocaineBooks.com. Beyond this time, we will retain
            your information for as long as we have to adhere to legal obligations. Once any
            obligations have passed, we promise to delete your personal data. </p>
            
          <p>
            <strong>Underage Policy</strong><br />
            We can take no responsibility for users under the age of 18 accessing Cocaine Books.
            The content of our free eBooks may be of an adult nature and unsuitable for minors.
            In the event that you discover your child to be accessing our site, please contact
            us to request closure of their account.
        </p>

        <p>
            <strong>External Content </strong><br />
            Cocaine Books cannot be held responsible for any unsolicited links
            posted by users to external websites beyond our control. Should you access any websites
            recommended by users of CocaineBooks.com, we advise that you exercise caution and
            read the privacy policies of those sites. On occasion, we will share links to external
            websites via our free eBooks platform. Again, we cannot be held responsible for
            the content or privacy measures of these websites. Once you leave our site, everything
            is outside of our control. </p>
            
          <p>
            <strong>Changes to the Privacy Policy</strong><br /> Cocaine Books reserves
            the right to change this privacy policy, as we deem appropriate. In addition, we
            have the right to make alterations without prior notice. We need to point out that
            it is your responsibility to check our privacy policy at reasonable intervals (at
            least monthly) to be kept aware of any changes. As you continue to use CocaineBooks.com,
            we can only take this as your on-going agreement with our privacy policy and all
            of its updates. 
        </p>
        <p>
            Please contact us if you have any questions.
        </p>
    </div>
</div>
<div class="clear">
</div>


