@{
    ViewBag.Title = "Books";
}
<div ng-controller="CategoriesController">
    <div class="column-right">
        <h1 class="orng">
            {{categoryText}}</h1>
        <div class="content-md" ng-repeat="b in books">
            <div class="contents-sd">
                <div class="book-side">
                    <img ng-src="{{b.coverUrl}}" width="139" height="171" alt="Book" class="book-img" />
                    <div class="clear">
                    </div>
                </div>
                <div class="desc-side">
                    <p class="book-tl">
                        {{b.title}}</p>
                    <p>
                        {{b.description}}</p>
                    
                    @*<rating value="b.rating" max="5"></rating>*@
                    
                    <div class="reads mr20">
                        {{b.readCount}} Reads</div>
                    <div class="press mr20">
                        {{b.author}}</div>
                </div>
                <a ng-href="{{b.gumroadUrl}}" class="gumroad-button"> Get it Now!</a>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>

@section Scripts{
<script src="/Scripts/Views/Categories/index.js" type="text/javascript"></script>
}